body {
    background-color: bisque;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-destinos {
    /* Container dos cards */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}

.postal {
    /* Imagem dos cards */
    width: 200px;
    height: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    ;
}

.roteiros-viagens {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 5px;
}

.inferior {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.icone-pacote {
    width: 12px;
    height: 12px;
}

.status {
    display: flex;
    justify-content: start;
}

.status-pacote {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
    height: 20px;
    background-color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
    color: white;
}

.roteiro-destino {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20px;
    padding-top: 10px;
    font-size: 13pt;
    font-weight: bold;

    .roteiro-destino p {
        text-wrap: wrap;
    }
}

.roteiro-incluso {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 0px;
}

.roteiro-incluso {
    text-decoration: none;
    list-style: none;
    font-size: 7pt;
}

.item-incluso {
    display: flex;
    flex-direction: row;
    ;
}

.footer {
    display: flex;
    flex-direction: row;
    /*teste*/
}

.preco {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.preco-titulo{
    font-size: 9pt;
    line-height: 0;
}
.preco-valor{
    font-size: 15pt;
    font-weight: bold;
    line-height: 0;
}
.preco-subtitulo{
    font-size: 9pt;
    line-height: 0;
}
.texto-footer{
    font-size: 10pt;
    text-align: center;
}

.div-conferir {
    display: flex;
    align-items: center;


}

.botao-conferir {
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: limegreen;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
}