<div class="card">
  <div class="card-header">Categoria Noticia</div>
  <div class="card-body">
    <h5 class="card-title">Titulo noticia 1</h5>
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum magnam nihil ducimus voluptas esse debitis doloribus, numquam nisi ad maxime amet eaque? Itaque est sapiente accusantium quos explicabo pariatur ducimus.</p>
    <a href="#" class="btn btn-primary">Ler sobre</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Titulo noticia 2</h5>
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum magnam nihil ducimus voluptas esse debitis doloribus, numquam nisi ad maxime amet eaque? Itaque est sapiente accusantium quos explicabo pariatur ducimus.</p>
    <a href="#" class="btn btn-primary">Ler sobre</a>
  </div>
</div>