@media (min-width: 501px) {
  .container-meio-meio-titulo {
    border-bottom: 2px solid gray;
    padding-left: 10px;
  }

  .container-meio-meio-conteudo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    line-height: 0px;

    .container-meio-meio-conteudo-noticia {
      line-height: 0;
    }
  }
}

@media (max-width: 500px) {
  .container-meio-meio-titulo {
    border-bottom: 2px solid gray;
    padding-left: 10px;
  }

  .container-meio-meio-conteudo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    line-height: 0px;
  }
}