<div class="container-meio-meio-titulo">
  <h3>NOTICIAS</h3>
</div>
<div class="container-meio-meio-conteudo">
  <label class="container-meio-meio-conteudo-noticia">
    <h4>Enade 2022</h4>
    <a href="#">Curso de Administração Obtém Nota Máxima</a>
  </label>
  <label class="container-meio-meio-conteudo-noticia">
    <h4>Cursos de Graduação da Uesc entre os Melhores do Brasil</h4>
    <a href="#">Avaliação é do Ranking Universitário Folha</a>
  </label>
  <label class="container-meio-meio-conteudo-noticia">
    <h4>Comunicado - Vestibular EaD 2023</h4>
    <a href="#">Ressarcimento da Taxa de Inscrição</a>
  </label>
</div>