<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">HOME</a>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <!-- <li class="tab"><a href="#test1">App 1</a></li>
      <li class="tab"><a href="#test2">App 2</a></li>
      <li class="tab"><a href="#test3">App 3</a></li> -->
      <li class="tab"><a [routerLink]="['/app1']">App 1</a></li>
      <li class="tab"><a [routerLink]="['/app2']">App 2</a></li>
      <li class="tab"><a [routerLink]="['/app3']">App 3</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
