<div>
  <h2>Editar Suino</h2>
  <form [formGroup]="suinoForm" (ngSubmit)="submitForm()" novalidate>
    <div class="form-group">
      <label>Brinco Animal:</label>
      <input type="number" formControlName="brincoAnimal" class="form-control" placeholder="Vazio">
    </div>
    <div class="form-group">
      <label>Brinco do Pai:</label>
      <input type="number" formControlName="brincoPai" class="form-control" placeholder="Vazio">
    </div>
    <div class="form-group">
      <label>Brinco da Mãe:</label>
      <input type="number" formControlName="brincoMae" class="form-control" placeholder="Vazio">
    </div>
    <div class="form-group">
      <label>Data de Nascimento:</label>
      <input type="date" formControlName="dataNascimento" class="form-control" placeholder="Vazio">
    </div>
    <div class="form-group">
      <label>Data de Saída:</label>
      <input type="date" formControlName="dataSaida" class="form-control" placeholder="Vazio">
    </div>
    <div class="form-group">
      <label>Status:</label>
      <input type="text" formControlName="status" class="form-control" placeholder="Vazio">
    </div>
    <div class="form-group">
      <label>Sexo:</label>
      <input type="text" formControlName="sexo" class="form-control" placeholder="Vazio">
    </div>

    <button type="submit">Cadastrar</button>
  </form>
</div>