<div>
  <h1>Meus Suinos</h1>
  <button type="button" [routerLink]="/crud/create/">Cadastrar Novo Suino</button>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Brinco do animal</th>
        <th>Brinco do pai</th>
        <th>Brinco da mãe</th>
        <th>Data de Nascimento</th>
        <th>Data de Saída</th>
        <th>Status</th>
        <th>Sexo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of suinos">
        <td>{{s.brincoAnimal}}</td>
        <td>{{s.brincoPai}}</td>
        <td>{{s.brincoMae}}</td>
        <td>{{s.dataNascimento}}</td>
        <td>{{s.dataSaida}}</td>
        <td>{{s.status}}</td>
        <td>{{s.sexo}}</td>
        <td>
          <button type="button" [routerLink]="['/crud/update/', product.id]">Editar</button>
          <button type="button" (click)="crudService.delete(product.id)">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>