<div class="container-topo">
  <h1>UNIVERSIDADE</h1>
</div>
<div class="container-meio">
  <div class="container-meio-esquerda">
    <div class="container-meio-esquerda-titulo">
      <h3>MENU</h3>
    </div>
    <div class="container-meio-esquerda-conteudo">
      <a href="#">Centro e Grupos de Pesquisa</a>
      <a href="#">Internacional</a>
      <a href="#">Laboratórios</a>
      <a href="#">Mapa da Uesc</a>
      <a href="#">Núcleos</a>
      <a href="#">Projetos</a>
      <a href="#">Protocolo Digital</a>
    </div>
  </div>
  <div class="container-meio-meio">
    <app-noticias></app-noticias>
  </div>
  <div class="container-meio-direita">
    <app-destaque></app-destaque>
  </div>
</div>
<div class="container-baixo">
  <div class="container-baixo-esquerda">
    <app-servicos></app-servicos>
  </div>
  <div class="container-baixo-direita">
    <app-resultados></app-resultados>
  </div>
</div>
<div class="container-rodape">
  <h3>RODAPE</h3>
</div>