div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 0;
  color: #3b3b3b;
}

input {
  width: 25%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #2e4fd4;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  input {
    width: 70%;
  }
}