container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style-type:decimal;
}
#vermelho{
    color: red;
    font-size: 11pt;
}
#preto{
    color: black;
    font-size: 16pt;
}
#verde{
    color: green;
    font-size: 16pt;
}