<div class="corpo">
  <div class="div-topo">
    <h1>UNIVERSIDADE</h1>
  </div>
  <div class="div-meio">
    <div class="div-meio-esquerda">
      <div class="div-meio-esquerda-titulo">
        <h3>MENU</h3>
      </div>
      <div class="div-meio-esquerda-conteudo">
        <a href="#">Centro e Grupos de Pesquisa</a>
        <a href="#">Internacional</a>
        <a href="#">Laboratórios</a>
        <a href="#">Mapa da Uesc</a>
        <a href="#">Núcleos</a>
        <a href="#">Projetos</a>
        <a href="#">Protocolo Digital</a>
      </div>
    </div>
    <div class="div-meio-meio">
      <div class="div-meio-meio-titulo">
        <h3>NOTICIAS</h3>
      </div>
      <div class="div-meio-meio-conteudo">
        <label class="div-meio-meio-conteudo-noticia">
          <h4>Enade 2022</h4>
          <a href="#">Curso de Administração Obtém Nota Máxima</a>
        </label>
        <label class="div-meio-meio-conteudo-noticia">
          <h4>Cursos de Graduação da Uesc entre os Melhores do Brasil</h4>
          <a href="#">Avaliação é do Ranking Universitário Folha</a>
        </label>
        <label class="div-meio-meio-conteudo-noticia">
          <h4>Comunicado - Vestibular EaD 2023</h4>
          <a href="#">Ressarcimento da Taxa de Inscrição</a>
        </label>
      </div>
    </div>
    <div class="div-meio-direita">
      <div class="div-meio-direita-titulo">
        <h3>DESTAQUE</h3>
      </div>
      <div class="div-meio-direita-conteudo">
          <img class="div-meio-direita-conteudo-img" src="images/img-exemplo.jpg" alt="IMAGEM 1">    
      </div>
    </div>
  </div>
  <div class="div-baixo">
    <div class="div-baixo-esquerda">
      <div class="div-baixo-esquerda-titulo">
        <h3>SERVIÇOS</h3>
      </div>
      <div class="div-baixo-esquerda-conteudo">
        <h4>Serviço 1</h4>
        <h4>Serviço 2</h4>
        <h4>Serviço 3</h4>
      </div>
    </div>
    <div class="div-baixo-direita">
      <div class="div-baixo-direita-titulo">
        <h3>RESULTADOS</h3>
      </div>
      <div class="div-baixo-direita-conteudo">
        <a href="#">Pós-graduação em Ciências da Saúde</a>
        <a href="#">Seleção de Professor Formador - Especialização EaD</a>
        <a href="#">Seleção de Professor Visitante - PPGE</a>
      </div>
    </div>
  </div>
  <div class="div-rodape">
    <h3>RODAPE</h3>
  </div>
</div>
