body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    gap: 20px;
}
p{
    width: calc(100% - 10px);
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}
.img-arara{
    width: 75%;
    border-radius: 20px;
    border-inline: 5px solid rgb(109, 109, 255);
}
.div-araras{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
table{
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
    }
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(105, 105, 105, 0.767);
    --animation-color: #4015ff;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }