body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quadrado{
    width: 150px;
    height: 150px;
}
p{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}
.giallo{
    color: #D6A91A;
}
.qgiallo{
    background-color: #D6A91A;
}
.rosso{
    color: #E2130C;
}
.qrosso{
    background-color: #E2130C;
}
.blue{
    color: #3FCEF6;
}
.qblue{
    background-color: #3FCEF6;
}
.marrone{
    color: #CCAF89;
}
.qmarrone{
    background-color: #CCAF89;
}